[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
random-geometry-points = "*"
Flask = "*"
flask-restplus = "*"
marshmallow = "*"

[dev-packages]
pylint = "*"
pytest = "*"
coveralls = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
